@layer reset, base, container;

@import "components/container.css" layer(container);

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer base {
  :root {
    --font-noto: "Noto Sans", sans-serif;

    /* Gradients */
    --light-gradient-bg: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
    --dark-gradient-bg: linear-gradient(180deg, #040918 0%, #091540 100%);

    /* Colors  */
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);

    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);
  }

  html,
  body {
    min-height: 100vh;
    width: 100%;

    font-family: var(--font-noto);
    background: var(--light-gradient-bg);
  }
}
